/**/
head {
  display: grid;
  width: 100%;
  position: fixed;
}
.header {
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
  position:fixed;
  background-color: white;
}
.logo {
  max-width: 50%;
  max-height: 50vh;
  margin: auto;
  display: block;
}
.news {
  display: grid;
  width: 100%;
  margin-top: 70px;
  border-top: 1px solid #f2f2f2;
}
.img-news {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  z-index: +1;
}
body {
  padding-top: 10px;
  overflow-y: scroll hidden;
}
